<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Anime Crush</title>
</head>
<body>
    <header>
        <div>
            <h1>Find New Anime For Watching!</h1>
        </div>
    </header>

    <div class="form-section">
        <form action="" id="form-random" class="form-random" method="">
            <button type="submit" class="form-submit">Try Random</button>
        </form>
    
        <form action="" id="form" class="form" method="POST">
            <label for="film-type"></label>
            <select name="type" id="film-type" class="film-type">
                <option value="volvo" class="option">Volvo</option>
            </select>
            <button type="submit" class="form-submit">Find</button>
        </form>
    </div>

    <div class="result-section">
        <img class="anime-img" src="./assests/backgorund.jpg" alt="poster">
        <h2 class="anime-name">Animenin Adı</h2>
        <div class="movie info">
            <span class="season">Season: 3</span>
            <span class="episodes">Episodes: 15</span>
        </div>
        <p class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias est quae, eius tenetur, doloribus incidunt, voluptatem sunt reprehenderit iste ratione natus repudiandae hic voluptas tempora dolores mollitia blanditiis in temporibus.</p>
        <iframe src="https://www.youtube.com/embed/PE6HBvwxGO4?autoplay=1" class="trailer"></iframe>
    </div>

    <h2 class="no-content">If you can't find anything to watch, press one of the buttons and find a random anime!</h2>

    <footer>© 2024 December Duygu Kara</footer>
    
</body>
</html>